html{
    font-size: 17px;
    }
body {
    background-color: black;
    color: white;
    margin-top: 10px;
}
.header {
    text-align: center;
}
/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #353238;
    font-family: 'Special Elite', cursive;
    margin: 0px;
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
h1 {
    font-family: 'Special Elite', cursive;
    font-size: 75px;
    letter-spacing: 3px;
    font-weight: bold;
}
h2 {
    font-family: 'Special Elite', cursive;
    font-size: 35px;
}
/* Intro Text*/
h3 {font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: left;
    margin: 10px;
    background-color: #6183A8;
    padding: 25px;
} 
/* Interests Text*/
h4 {font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: right;
    margin: 10px;
    background-color: #A53E38;
    padding: 25px;
}  
.intro {
    background-color: #083D77;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    overflow: auto;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.NoalImage2 {
    float: left;
    width: 250px;
    margin: 10px;
}
.introparagraph {
    float: left;
    width: 1000px;
    margin: 10px;
}
.interests {
    clear: left;
    background-color: #92140C;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    overflow: auto;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.Miniatures {
    float: left;
    width: 335px;
    margin: 10px;
}
.MiniaturesText {
    float: left;
    width: 250px;
    margin: 10px;
}
.NoalandGreg {
    float: left;
    width: 335px;
    margin: 10px;
}
.NMDB {
    float: left;
    width: 250px;
    margin: 10px;
}
.footer {
    background-color: #FA9F42;
    line-height: 0em;
    text-align: center;
    padding: 5px;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
.avatar {
    float: left;
    width: 335px;
    margin-left: 75px;
}